{% extends 'layout.twig' %}

{% block title %}
    Ajouter un Post - {{ parent() }}
{% endblock %}

{% block content %}
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Ajouter un Post</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.php/home">Accueil</a>
      </li>              
      <li class="breadcrumb-item active">Ajouter un Post</li>
    </ol>

    <!-- Post Form -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <form action="index.php/post/newPost" method="post" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>Auteur:</label>
              <input type="text" class="form-control" name="author" id="author" required data-validation-required-message="Entrez un nom.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Titre:</label>
              <input type="text" class="form-control" name="title" id="title" required data-validation-required-message="Entrez un titre.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Chapô:</label>
              <textarea rows="5" cols="100" class="form-control" name="lead_paragraph" id="lead-paragraph" required data-validation-required-message="Entrez un chapô" maxlength="499" style="resize:none"></textarea>
            </div>
          </div>          
          <div class="control-group form-group">
            <div class="controls">
              <label>Contenu:</label>
              <textarea rows="10" cols="100" class="form-control" name="content" id="content" required data-validation-required-message="Entrez un contenu" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <input type="hidden" name="token" id="token" value="{{ token }}" />
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Ajouter</button>
        </form>
      </div>

    </div>
    <!-- /.row -->
{% endblock %}