{% extends 'layout.twig' %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block content %}
  <!-- Contact Form -->
  <div class="row">
    <div class="col-lg-8 mb-4">
      <h3>Envoyez-moi un Message</h3>
      <form name="sentMessage" id="blogForm" action="index.php/home/contact" method="post" novalidate>
        <div class="control-group form-group">
          <div class="controls">
            <label>Nom:</label>
            <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Entrez votre nom.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Prénom:</label>
            <input type="text" class="form-control" name="first_name" id="first-name" required data-validation-required-message="Entrez votre prénom.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Addresse Email:</label>
            <input type="email" class="form-control" name="email" id="email" required data-validation-required-message="Entrez votre adresse email.">
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Message:</label>
            <textarea rows="10" cols="100" class="form-control" name="message" id="message" required data-validation-required-message="Entrez votre message" maxlength="999" style="resize:none"></textarea>
          </div>
        </div>
        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer le Message</button>
      </form>
    </div>

  </div>
  <!-- /.row -->
{% endblock %}