{% extends 'layout.twig' %}

{% block title %}
  Erreur - {{ parent() }}
{% endblock %}

{% block content %}
	<div class="mt-4">
		<h4>Une erreur est survenue : {{ errorMessage }}</h4>
	</div>
{% endblock %}